<!DOCTYPE html>

<html>
    <head>
        <title>
            Estree-Anes
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="css/main.css"/>
        <script src="js/jquery.js"></script>
        <script src="js/socket.io.js"></script>
    </head>

    <body>
        <div class="border border-dark rounded mx-auto my-5 w-50 p-2">
            <div class="border-bottom text-center p-3">
                <h1>Estree-Anes</h1>
            </div>  
            <table class="table text-center table-bordered">
                <thead class="">
                    <tr>
                        <th>Date</th>
                        <th>Jour 1</th>
                        <th>Jour 2</th>
                        <th>Jour 3</th>
                        <th>Nuit 1</th>
                        <th>Nuit 2</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th><input class="cell-input" id="0-0" type="text"/></th>
                        <th><input class="cell-input" id="0-1" type="text"/></th>
                        <th><input class="cell-input" id="0-2" type="text"/></th>
                        <th><input class="cell-input" id="0-3" type="text"/></th>
                        <th><input class="cell-input" id="0-4" type="text"/></th>
                        <th><input class="cell-input" id="0-5" type="text"/></th>
                    </tr>
                    <tr>
                        <th><input class="cell-input" id="1-0" type="text"/></th>
                        <th><input class="cell-input" id="1-1" type="text"/></th>
                        <th><input class="cell-input" id="1-2" type="text"/></th>
                        <th><input class="cell-input" id="1-3" type="text"/></th>
                        <th><input class="cell-input" id="1-4" type="text"/></th>
                        <th><input class="cell-input" id="1-5" type="text"/></th>
                    </tr>
                    <tr>
                        <th><input class="cell-input" id="2-0" type="text"/></th>
                        <th><input class="cell-input" id="2-1" type="text"/></th>
                        <th><input class="cell-input" id="2-2" type="text"/></th>
                        <th><input class="cell-input" id="2-3" type="text"/></th>
                        <th><input class="cell-input" id="2-4" type="text"/></th>
                        <th><input class="cell-input" id="2-5" type="text"/></th>
                    </tr>
                    <tr>
                        <th><input class="cell-input" id="3-0" type="text"/></th>
                        <th><input class="cell-input" id="3-1" type="text"/></th>
                        <th><input class="cell-input" id="3-2" type="text"/></th>
                        <th><input class="cell-input" id="3-3" type="text"/></th>
                        <th><input class="cell-input" id="3-4" type="text"/></th>
                        <th><input class="cell-input" id="3-5" type="text"/></th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
    
    <script src="js/main.js"></script>

</html>